<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" data-theme="dark" class="has-navbar-fixed-top">
<head th:replace="~{fragments/header.html :: header}"></head>
<body>
<nav th:replace="~{fragments/navbar.html  ::  navbar}"></nav>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="box">
                        <h1 class="title has-text-centered" th:text="#{auth.title.forgot.password}"></h1>
                        
                        <div th:if="${error}" class="notification is-danger">
                            <button class="delete"></button>
                            <span th:text="${error}"></span>
                        </div>
                        
                        <div th:if="${message}" class="notification is-success">
                            <button class="delete"></button>
                            <span th:text="${message}"></span>
                        </div>

                        <form th:action="@{/forgot-password}" method="post">
                            <div class="field">
                                <label class="label" th:text="#{auth.form.label.email}"></label>
                                <div class="control has-icons-left">
                                    <input class="input" type="email" name="email" required="required">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <p class="help" th:text="#{auth.form.email.help}"></p>
                            </div>

                            <div class="field">
                                <button class="button is-primary is-fullwidth" type="submit" 
                                        th:text="#{auth.button.reset.password}">
                                </button>
                            </div>
                        </form>
                        
                        <div class="has-text-centered mt-4">
                            <a th:href="@{/login}" class="is-size-7">
                                <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                                <span th:text="#{auth.button.back}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/nakitin.js}"></script>
</body>
</html>
