<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi" data-theme="dark" class="has-navbar-fixed-top">
<head th:replace="~{fragments/header.html :: header}"></head>
<body>
<nav th:replace="~{fragments/navbar.html  ::  navbar}"></nav>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="box">
                        <h1 class="title" th:text="#{auth.login.title}">Login</h1>
                        
                        <div th:if="${error}" class="notification is-danger">
                            <button class="delete"></button>
                            <span th:text="${error}">Error message</span>
                        </div>
                        
                        <div th:if="${message}" class="notification is-info">
                            <button class="delete"></button>
                            <span th:text="${message}">Info message</span>
                        </div>

                        <form th:action="@{/login}" method="post">
                            <div class="field">
                                <label class="label" th:text="#{auth.login.username}">Username</label>
                                <div class="control has-icons-left">
                                    <input class="input has-background-grey-dark has-text-white" type="text" name="username" required>
                                    <span class="icon is-small is-left has-text-grey-lighter">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" th:text="#{auth.login.password}">Password</label>
                                <div class="control has-icons-left">
                                    <input class="input has-background-grey-dark has-text-white" type="password" name="password" required>
                                    <span class="icon is-small is-left has-text-grey-lighter">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" name="remember-me">
                                    <span class="has-text-white ml-2" th:text="#{auth.login.remember-me}">Remember me</span>
                                </label>
                            </div>

                            <div class="field">
                                <button class="button is-info is-fullwidth" type="submit" th:text="#{auth.login.submit}">
                                    Login
                                </button>
                            </div>
                        </form>
                        
                        <div class="has-text-centered mt-4">
                            <a th:href="@{/forgot-password}" class="is-size-7 has-text-info" th:text="#{auth.login.forgot-password}">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/nakitin.js}"></script>
</body>
</html>
