<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi" data-theme="dark" class="has-navbar-fixed-top">
<head th:replace="~{fragments/header.html :: header}"></head>
<body>
<nav th:replace="~{fragments/navbar.html  ::  navbar}"></nav>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="box">
                        <h1 class="title has-text-centered" th:text="#{auth.title.reset.password}"></h1>
                        
                        <div th:if="${error}" class="notification is-danger">
                            <button class="delete"></button>
                            <span th:text="${error}"></span>
                        </div>

                        <form th:action="@{/reset-password}" method="post">
                            <input type="hidden" name="token" th:value="${token}"/>
                            
                            <div class="field">
                                <label class="label" th:text="#{auth.form.label.password.new}"></label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="password" required="required"
                                           minlength="8" oninput="checkPassword(this)">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help" th:text="#{auth.form.password.requirements}"></p>
                            </div>

                            <div class="field">
                                <label class="label" th:text="#{auth.form.label.password.confirm}"></label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="confirmPassword" required="required"  oninput="checkPassword(this)">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <button class="button is-primary is-fullwidth" type="submit" 
                                        th:text="#{auth.button.set.password}">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/nakitin.js}"></script>
</body>
</html>
