<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi" data-theme="dark" class="has-navbar-fixed-top">
<head th:replace="~{fragments/header.html :: header}">
</head>
<body>
<nav th:replace="~{fragments/navbar.html  ::  navbar}"></nav>
<div class="columns">
    <div class="column is-2 is-desktop"></div>
    <div class="column">
        <div th:insert="~{fragments/admin/tabs.html :: tabs }"></div>
        <h1 th:replace="~{fragments/event/event.html :: title}"></h1>
        <div th:replace="~{fragments/event/event.html :: infoBox}"></div>
        <div th:replace="~{fragments/event/event.html :: description}"></div>
        <div th:replace="~{fragments/event/event.html :: tasks}"></div>
    </div>
    <div class="column is-2 is-desktop"></div>
</div>
<script th:src="@{/js/nakitin.js}"></script>
</body>
</html>
