<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi">
<body>
<!--/*@thymesVar id="event" type="fi.asteriski.nakitin.dto.EventDto"*/-->
<h1 th:fragment="title" class="title" th:text="${event.name}"></h1>
<div th:fragment="infoBox" class="block">
    <span th:text="#{event.page.label.description.organizer} + ' ' + ${event.organizer.name}"></span><br>
    <span th:text="#{event.page.label.description.date} + ' ' + ${event.localeFormattedDate()}"></span><br>
    <span th:text="#{event.page.label.description.venue} + ' ' + ${event.venue}"></span><br>
</div>
<div th:fragment="description" class="block">
    <p th:text="${event.description}"></p><br>
</div>

<div th:fragment="tasks" class="block">
    <h2 class="subtitle" th:text="#{event.page.label.tasks}"></h2><br>

    <!--/*@thymesVar id="userIsOrganisationAdmin" type="java.lang.Boolean"*/-->
    <div class="field has-addons" th:if="${userIsOrganisationAdmin && user.isInOrganization(event.organizer)}">
        <p class="control">
            <a th:href="@{/task/add(eventId=${event.id})}" class="button">
      <span class="icon is-small">
        <i class="fa-solid fa-plus"></i>
      </span>
                <span th:text="#{form.button.label.add-task}"></span>
            </a>
        </p>
        <p class="control">
            <a th:href="@{/export(eventId=${event.id})}" class="button" th:id="${event.id}">
      <span class="icon is-small">
          <i class="fa-solid fa-file-export"></i>
      </span>
                <span th:text="#{form.button.label.export}"></span>
            </a>
        </p>
    </div>

    <div class="content" th:if="${userIsOrganisationAdmin && user.isInOrganization(event.organizer)}">
        <p th:utext="#{event.page.label.description.export.info1} + ${event.name} + #{event.page.label.description.export.info2}"></p>
        <p th:text="#{event.page.label.description.pageNotAvailableAfterEvent}"></p>
        <br>
    </div>

    <div class="columns is-multiline">
        <div class="column is-half" th:each="task : ${event.tasks}">
            <!--/*@thymesVar id="task" type="fi.asteriski.nakitin.dto.EventTaskDto"*/-->
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" th:text="${task.taskName}"></p>
                </header>
                <div class="card-content">
                    <div class="media-content">
                        <p class="sub-title is-4" th:text="${task.localeFormattedDate()}"></p>
                        <p class="sub-title is-4"
                           th:text="#{event.page.label.description.time} + ' ' +${task.localeFormattedStartTime()} +' - ' + ${task.localeFormattedEndTime()}"></p>
                    </div>
                    <div class="content">
                        <hr>
                        <p th:text="#{event.page.label.description.volunteered.title} + ' ' + ${task.volunteers.size()} + ' / ' + ${task.personCount}"></p>
                        <br>
                        <!--/*@thymesVar id="user" type="fi.asteriski.nakitin.entity.UserEntity"*/-->
                        <p th:text="${userIsLoggedIn && task.userHasVolunteered(user)} ? #{event.task.label.user-has-volunteered} : #{event.task.label.user-has-not-volunteered}"/>
                        <br>
                        <!--/*@thymesVar id="userIsLoggedIn" type="java.lang.Boolean"*/-->
                        <span th:if="${userIsLoggedIn && !task.volunteers().isEmpty()}" th:text="#{event.page.label.description.volunteered.people}"></span><br>
                        <p th:if="${userIsLoggedIn}" th:each="volunteer : ${task.volunteers}">
                            <!--/*@thymesVar id="volunteer" type="fi.asteriski.nakitin.entity.UserEntity"*/-->
                            <b th:unless="${volunteer eq null}"
                               th:text="${volunteer.firstName} + ' ' + ${volunteer.lastName}"></b>
                            <br>
                        <p th:if="${userIsLoggedIn}">
                        <article class="message is-danger" th:if="${task.isFull}">
                            <div class="message-body" th:text="#{event.task.form.label.full}">
                            </div>
                        </article>
                        <form method="post" th:if="${userIsLoggedIn && task.isNotFull && !user.isAdmin()}" th:action="@{/volunteer/{eventId}/task/{taskId}(eventId=${event.id},taskId=${task.id},cancel=${task.userHasVolunteered(user)})}">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" th:if="${task.userHasNotVolunteered(user)}" th:text="#{form.button.label.volunteer.signup}"></button>
                                    <button class="button is-danger" th:if="${task.userHasVolunteered(user)}" th:text="#{form.button.label.volunteer.cancel}"></button>
                                </div>
                            </div>
                        </form>
                        </p>
                        </p>

                        <article class="message is-warning" th:unless="${userIsLoggedIn}">
                            <div class="message-body" th:text="#{event.task.label.registration-required-to-volunteer}">
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="card-footer" th:if="${userIsOrganisationAdmin && user.isInOrganization(event.organizer)}">
                    <a th:href="@{/task/edit(eventId=${event.id},taskId=${task.id})}" th:id="${task.id + ''}" class="card-footer-item"
                       th:text="#{form.button.label.edit}"></a>
                    <a th:href="@{/task/delete(eventId=${event.id},taskId=${task.id})}" th:id="${task.id + ''}" class="card-footer-item"
                       th:text="#{form.button.label.delete}"></a>
                </footer>
            </div>
        </div>
    </div>
</div>

</body>
</html>
