<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi">
<body>
<div class="columns is-gapless" th:fragment="columns">
    <div class="column is-2 is-desktop"></div>
    <div class="column">
        <table class="table">
            <thead>
            <tr>
                <th><abbr title="UpcomingEvents" th:text="#{index.label.upcoming-events}"></abbr></th>
                <th><abbr title="UpcomingEvents"></abbr></th>
                <th><abbr title="UpcomingEvents"></abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${upcomingEvents}">
                <!--/*@thymesVar id="event" type="fi.asteriski.nakitin.dto.EventDto"*/-->
                <td><a th:href="@{/event/{id}(id=${event.id})}" th:text="${event.name}"></a></td>
                <td th:text="${event.localeFormattedDate()}"></td>
                <td th:text="${event.organizer}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="column is-desktop">
        <div class="content">
            <h3 th:text="#{index.welcome.title}"></h3>
            <p th:text="#{index.welcome.p1}"></p>
            <p th:utext="#{index.welcome.p2}"></p>
            <p th:text="#{index.welcome.p3}"></p>

        </div>
    </div>
    <div class="column is-2 is-desktop"></div>
</div>
</body>
</html>
