<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi">
<body>
<div class="columns is-gapless is-centered" th:fragment="columns">
    <div class="column is-half">
        <!--/*@thymesVar id="from" type="java.lang.String"*/-->
        <article class="message is-success">
            <div class="message-header">
                <p th:if="${from == 'signup'}" th:text="#{success.register.title}"></p>
                <p th:if="${from == 'event-delete'}" th:text="#{success.deleteEvent.title}"></p>
                <p th:if="${from == 'remove-user'}" th:text="#{success.deleteUser.title}"></p>
            </div>
            <div class="message-body" th:if="${from == 'signup'}" th:text="#{success.register.text}"></div>
            <div class="message-body" th:if="${from == 'event-delete'}" th:text="#{success.deleteEvent.text}"></div>
            <div class="message-body" th:if="${from == 'remove-user'}" th:text="#{success.deleteUser.text}"></div>
        </article>
    </div>
</div>
</body>
</html>
