<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" data-theme="dark" class="has-navbar-fixed-top">
<head th:replace="~{fragments/header.html :: header}">
</head>
<body>
<nav th:replace="~{fragments/navbar.html  ::  navbar}"></nav>
<div class="columns is-gapless">
    <div class="column is-4 is-desktop"></div>
    <div class="column">
        <div th:if="${user.isAdmin() && userIsTheOnlyAdmin}" class="content">
            <p class="title" th:text="#{admin.deleteUser.cannotRemoveSingleAdmin}"></p>
            <a th:href="@{/profile}" th:text="#{admin.deleteUser.back}"></a>
        </div>
        <div th:unless="${user.isAdmin() && userIsTheOnlyAdmin}" class="content">
            <h1 class="title has-text-centered" th:text="#{admin.deleteUser.title}"></h1>
            <p th:text="#{admin.deleteUser.text.p1}"></p>
            <span th:text="#{admin.label.usersName} + ' ' + ${user.firstName} + ' ' + ${user.lastName}"></span><br/>
            <span th:text="#{admin.label.usersUserName} + ' ' + ${user.username}"></span><br/>
            <span th:text="#{admin.label.usersEmail} + ' ' + ${user.email}"></span><br/><br/>

            <p th:text="#{admin.deleteUser.text.p3}"></p>
            <ul>
                <li th:text="#{admin.deleteUser.text.tasks}"></li>
            </ul>
            <p th:utext="#{deleteConfirmation.text}"></p>
            <form th:action="@{/profile/remove-user}" method="post" th:object="${deleteForm}">
                <input type="hidden" th:field="*{id}" name="userId" th:value="${user.id}"/>
                <div class="field is-grouped is-left">
                    <p class="control">
                        <input type="submit" th:value="#{form.button.label.delete}" class="button is-danger">
                    </p>
                    <p class="control">
                        <a th:href="@{/profile}" th:text="#{form.button.label.back}" class="button is-primary"></a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="column is-4 is-desktop"></div>
</div>
<script th:src="@{/js/nakitin.js}"></script>
</body>
</html>
